/* Joomla 1.5 buttons */

/* 32 pixels */
.icon-32-csvivirtuemart_new_32 { background-image: url(../images/csvivirtuemart_new_32.png); }
.icon-32-csvivirtuemart_edit_32 { background-image: url(../images/csvivirtuemart_edit_32.png); }
.icon-32-csvivirtuemart_clone_32 { background-image: url(../images/csvivirtuemart_clone_32.png); }
.icon-32-csvivirtuemart_delete_32 { background-image: url(../images/csvivirtuemart_delete_32.png); }
.icon-32-csvivirtuemart_fields_32 { background-image: url(../images/csvivirtuemart_fields_32.png); }
.icon-32-csvivirtuemart_templates_32 { background-image: url(../images/csvivirtuemart_template_32.png); }
.icon-32-csvivirtuemart_publish_32 { background-image: url(../images/csvivirtuemart_publish_32.png); }
.icon-32-csvivirtuemart_unpublish_32 { background-image: url(../images/csvivirtuemart_unpublish_32.png); }
.icon-32-csvivirtuemart_save_32 { background-image: url(../images/csvivirtuemart_save_32.png); }
.icon-32-csvivirtuemart_fields_32 { background-image: url(../images/csvivirtuemart_fields_32.png); }
.icon-32-csvivirtuemart_logdetails_32 { background-image: url(../images/csvivirtuemart_log_details_32.png); }
.icon-32-csvivirtuemart_cancel_32 { background-image: url(../images/csvivirtuemart_cancel_32.png); }
.icon-32-csvivirtuemart_delete_32 { background-image: url(../images/csvivirtuemart_delete_32.png); }
.icon-32-csvivirtuemart_continue_32 { background-image: url(../images/csvivirtuemart_continue_32.png); }
.icon-32-csvivirtuemart_import_32 { background-image: url(../images/csvivirtuemart_import_32.png); }
.icon-32-csvivirtuemart_export_32 { background-image: url(../images/csvivirtuemart_export_32.png); }
.icon-32-csvivirtuemart_key_32 { background-image: url(../images/csvivirtuemart_key_32.png); }

/* 48 pixels */
.icon-48-csvivirtuemart_new_48 { background-image: url(../images/csvivirtuemart_new_48.png); }
.icon-48-csvivirtuemart_edit_48 { background-image: url(../images/csvivirtuemart_edit_48.png); }
.icon-48-csvivirtuemart_templates_48 { background-image: url(../images/csvivirtuemart_template_48.png); }
.icon-48-csvivirtuemart_fields_48 { background-image: url(../images/csvivirtuemart_fields_48.png); }
.icon-48-csvivirtuemart_import_48 { background-image: url(../images/csvivirtuemart_import_48.png); }
.icon-48-csvivirtuemart_export_48 { background-image: url(../images/csvivirtuemart_export_48.png); }
.icon-48-csvivirtuemart_maintenance_48 { background-image: url(../images/csvivirtuemart_maintenance_48.png); }
.icon-48-csvivirtuemart_log_48 { background-image: url(../images/csvivirtuemart_log_48.png); }
.icon-48-csvivirtuemart_about_48 { background-image: url(../images/csvivirtuemart_about_48.png); }
.icon-48-csvivirtuemart_availablefields_48 { background-image: url(../images/csvivirtuemart_av_fields_48.png); }
.icon-48-csvivirtuemart_logdetails_48 { background-image: url(../images/csvivirtuemart_log_details_48.png); }
.icon-48-csvivirtuemart_logo_48 { background-image: url(../images/csvivirtuemart_logo_48.png); }
