#modstalker { width: 100%; }

#modstalker ul {
	background:none!important;
	list-style:none!important;
	margin:0px!important;
	padding:0px!important;
}

#modstalker ul li {
	background:none!important;
	list-style:none!important;
	margin:0px!important;
	padding:0px!important;
}

#modstalkerleft { text-align: left; float:left; width: auto;}
#modstalkerright { text-align: right; float:right; width: auto; }
#modstalkercenter { text-align: center; margin: 0px auto;}
#modstalkerhoriz { text-align: center; float:none; width: auto; }

#modstalker .leftnotext {
	padding:0px 2px 1px 0px;
	float:left;
}

#modstalker .rightnotext {
	padding:0px 2px 1px 0px;
	display: inline;
}

#modstalker .centernotext, 
#modstalker .horiznotext {
	display: inline;
}

#modstalker .leftwithtext, 
#modstalker .rightwithtext, 
#modstalker .centerwithtext {
	float: none;
	display:block;
}

#modstalker .horizwithtext {
	float: none;
	display:inline;
}

#modstalker .clear {
	clear: both;
}

#modstalker a { 
	text-decoration: none; 
	color: #000000; 
	white-space: nowrap;
}

#modstalker a:hover { 
	text-decoration: none; 
	color: #FF0000; 
	white-space: nowrap;
}

#modstalker img { 
	vertical-align: middle; 
	border: solid 0; 
}
